@import "components/base";

body, html {
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  height: auto;
  background: #E8E8EE;
}

body,html {
  background: #E8E8EE;
  background: linear-gradient(0deg, rgba(205,205,218,1) 0%, rgba(232,232,238,1) 100%);
}


.gradient-holder {
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
  background: rgb(176,176,196);
  background: linear-gradient(
    /* Gradient direction goes here */
    180deg,
    hsla(240,14.49%,72.94%,0) 0%,
    hsla(240,14.49%,72.98%,0.0036161748) 5.77%,
    hsla(240,14.49%,73.11%,0.0141377315) 11.34%,
    hsla(240,14.48%,73.31%,0.0310742188) 16.72%,
    hsla(240,14.47%,73.58%,0.0539351852) 21.92%,
    hsla(240,14.46%,73.91%,0.0822301794) 26.94%,
    hsla(240,14.44%,74.3%,0.11546875) 31.8%,
    hsla(240,14.43%,74.73%,0.1531604456) 36.49%,
    hsla(240,14.42%,75.21%,0.1948148148) 41.04%,
    hsla(240,14.41%,75.73%,0.2399414062) 45.44%,
    hsla(240,14.4%,76.27%,0.2880497685) 49.71%,
    hsla(240,14.39%,76.84%,0.3386494502) 53.85%,
    hsla(240,14.38%,77.43%,0.39125) 57.88%,
    hsla(240,14.38%,78.03%,0.4453609664) 61.79%,
    hsla(240,14.39%,78.64%,0.5004918981) 65.6%,
    hsla(240,14.39%,79.24%,0.5561523438) 69.33%,
    hsla(240,14.41%,79.84%,0.6118518519) 72.96%,
    hsla(240,14.42%,80.44%,0.6670999711) 76.52%,
    hsla(240,14.44%,81.02%,0.72140625) 80.02%,
    hsla(240,14.47%,81.58%,0.7742802373) 83.45%,
    hsla(240,14.5%,82.11%,0.8252314815) 86.83%,
    hsla(240,14.53%,82.62%,0.8737695313) 90.17%,
    hsla(240,14.56%,83.09%,0.9194039352) 93.47%,
    hsla(240,14.6%,83.53%,0.9616442419) 96.74%,
    hsl(240,14.63%,83.92%) 100%
  );
}

@keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to   {
      opacity: 1;
      transform: translateY(0px);
     }
}

@keyframes notification {
    from {
      opacity: 0;
      transform: translateY(15px);
    }
    to   {
      opacity: 1;
      transform: translateY(0px);
     }
}

.page-container {
  opacity: 0;
  max-width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;

  -webkit-animation: fadein 1.25s forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.25s forwards; /* Firefox < 16 */
        -ms-animation: fadein 1.25s forwards; /* Internet Explorer */
         -o-animation: fadein 1.25s forwards; /* Opera < 12.1 */
            animation: fadein 1.25s forwards;
            animation-timing-function: ease-out;
            animation-delay: 0.5s;

  .image-holder:first-of-type {
    margin-top: 20vh;
  }

  .last {
    height: auto !important;
    margin-bottom: 8vh !important;
  }

  .image-holder {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3vh;

    picture, img {
      width: 100%;
      max-width: 825px;
      max-height: 825px;
      display: block;
      margin: 0 auto;
    }
  }

  .image-holder-extraWide {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3vh;

    picture, img {
      width: 100%;
      max-width: 1600px;
      max-height: 1000px;
      display: block;
      margin: 0 auto;
    }
  }

  .image-holder-heightCap {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3vh;
    margin-top: 15vh;

    picture, img {
      // width: 100%;
      max-width: 90%;
      max-height: 700px;
      display: block;
      margin: 0 auto;
    }
  }

  .text-holder {
    position: relative;
    display: block;
    width: 85%;
    max-width: 850px;
    height: 50vh;
    padding: 0vh 0 3vh 0;

    p, h1 {
      top: 40vh;
      position: sticky;
    }
  }
}

.stickyContainer {
  top: 40vh;
  position: sticky;
}

.footer-container  {
  width: 100%;
  text-align: center;
  margin-bottom: 8vh;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;

    .active {
      a {
        border-bottom: 1px solid transparent;
        opacity: 0.5;

        &:hover {
          opacity: 1;
          border-bottom: 1px solid #080B37;
        }
      }
    }

    li {
      text-decoration: none;
      margin: 4px 0px;

      a {
        text-decoration: none;
        border-bottom: 1px solid #080B37;
        color: #080B37;

        &:hover {
          opacity: 0.5;
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
}

a {
  text-decoration: none;
  border-bottom: 1px solid #080B37;
  color: #080B37;

  &:hover {
    opacity: 0.5;
    border-bottom: 1px solid transparent;
  }
}

.extraBuffer {
  margin: 20px;
}

.announcements {
  padding: 7px 8px 8px 8px;
  position: fixed;
  top: 16px;
  right: 16px;
  background: rgba(232,232,238,0.7);
  border: 1px solid rgb(75,78,104);
  backdrop-filter: blur(4px);
  border-radius: 3px;
  max-width: 250px;
  z-index: 5;

  opacity: 0;
  -webkit-animation: notification 600ms forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: notification 600ms forwards; /* Firefox < 16 */
        -ms-animation: notification 600ms forwards; /* Internet Explorer */
         -o-animation: notification 600ms forwards; /* Opera < 12.1 */
            animation: notification 600ms forwards;
            animation-timing-function: ease-out;
            animation-delay: 1.5s;

  transition: all 250ms;

  @media only screen and (max-width: 600px) {
    top: 16px; left: 0; right: 0; margin: auto;
    position: absolute;
  }

    &:hover {
      background: rgba(202,202,216,0.7);
      transition: all 250ms;
      cursor: pointer;
      border: 1px solid rgb(75,78,104);
    }

  .announcements-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    p {
      margin: 0;
      margin-right: 30px;
      padding: 0;
      font-family: 'Reckless Regular', serif;
      font-size: 15px;
      font-style: normal;
      font-weight: normal;
      font-display: swap;
      line-height: 125%;
      letter-spacing: -0.01em;
      color: #4B4E68;
    }

  }
}
