@import url('https://fonts.googleapis.com/css?family=Manrope');

@font-face {
  font-family: 'Apfel Groteszk';
  src: url('/static/fonts/ApfelGrotezk-Regular.woff2') format('woff2'),
    url('/static/fonts/ApfelGrotezk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Apfel Groteszk';
  src: url('/static/fonts/ApfelGrotezk-Fett.woff2') format('woff2'),
    url('/static/fonts/ApfelGrotezk-Fett.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --black: #191919;

  --font-family-base: 'Manrope';
  --brand-primary: #666666;
  --brand-secondary: #f03e2f;

  --state-success-color: #3ab667;
  --state-info-color: #666666;
  --state-warning-color: #ee744c;
  --state-danger-color: #f03e2f;

  --main-navigation-color: var(--black);
}
