$smType: 12px;
$mdType: 12px;
$lgType: 16px;
$xlType: 24px;
$xxlType: 24px;
$xsSpace: 4px;
$halfSpace: 8px;
$wholeSpace: 16px;
$doubleSpace: 24px;

$black: #080B37;
$inactiveBlack: #5C665C;
$yellow: #FBF263;
$white: #CDCDDA;
$grey: #ECECED;
$red: #C55948;

@mixin Reckless {
  font-family: 'Reckless', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/**
 * @section Base Styles
 */
 @font-face {
     font-family: 'Reckless Regular';
     src: url('../Reckless-Regular.woff2') format('woff2'),
         url('../Reckless-Regular.woff') format('woff');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Reckless Light';
     src: url('../Reckless-Light.woff2') format('woff2'),
         url('../Reckless-Light.woff') format('woff');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
 }

 /* apply a natural box layout model to all elements, but allowing components to change */
 html {
   box-sizing: border-box;
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0px;
	font-family: 'Reckless Light', serif;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
	background: #E8E8EE;
	color: #080B37;
}

::-moz-selection { background: rgba(255,255,255,1); }
::selection { background: rgba(255,255,255,1); }

input,
textarea,
select,
button {
	font: inherit;
}

h1, .big, h2 {
	font-size: 40px;
	margin: 0px;
	font-weight: normal;
	line-height: 135%;
}

h3 {
  font-weight: normal;
  line-height: 135%;
}

.small {
  font-size: $xlType;
  font-weight: normal;
  line-height: 135%;
  max-width: 800px;
  margin: 1vh auto 0 auto;
}

@media only screen and (max-width: 600px) {
	h1, .big, h2 {
		font-size: 21px;
		margin: 0px;
		font-weight: normal;
	}
  .small {
    font-size: 14px;
    font-weight: normal;
    line-height: 135%;
    max-width: 800px;
    margin: 1vh auto 0 auto;
  }

  .footer-container {
    flex-direction: column;
    ul {
      flex-direction: column !important;
    }
  }
}

@media only screen and (min-width: 600px) {
	h1, .big, h2 {
		font-size: 34px;
		margin: 0px;
		font-weight: normal;
	}
  .small {
    font-size: 18px;
    font-weight: normal;
    line-height: 135%;
    max-width: 800px;
    margin: 1vh auto 0 auto;
  }
  .footer-container {
    flex-direction: column;
    ul {
      flex-direction: column !important;
    }
  }
}

@media only screen and (min-width: 768px) {
	h1, .big, h2 {
		font-size: 34px;
		margin: 0px;
		font-weight: normal;
	}
  .small {
    font-size: 20px;
    font-weight: normal;
    line-height: 135%;
    max-width: 800px;
    margin: 1vh auto 0 auto;
  }
  .footer-container {
    flex-direction: column;
    ul {
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: 992px) {
	h1, .big, h2 {
		font-size: 38px;
		margin: 0px;
		font-weight: normal;
	}
  .small {
    font-size: $xlType;
    font-weight: normal;
    line-height: 135%;
    max-width: 800px;
    margin: 1vh auto 0 auto;
  }
  .footer-container {
    flex-direction: column;
    ul {
      // flex-direction: row !important;
    }
  }
}

@media only screen and (min-width: 1200px) {
	h1, .big, h2 {
		font-size: 38px;
		margin: 0px;
		font-weight: normal;
	}
  .small {
    font-size: $xlType;
    font-weight: normal;
    line-height: 135%;
    max-width: 800px;
    margin: 1vh auto 0 auto;
  }
}
