::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: $inactiveBlack;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: $inactiveBlack;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: $inactiveBlack;
}
@mixin defaultBorder($colour) {
	border: 1px solid $colour;
}

.inline-container {
	display: flex;
	flex-direction: row;
	background: none;
	flex-wrap: wrap;
}

label {
	display: block;
	font-weight: normal;
	margin-bottom: $xsSpace;
}

.label-normal {
	font-weight: normal;
}

.pattern {
	color: $black;
	font-size: $mdType;
	font-weight: normal;
	@media (max-width: 600px) {
		font-size: $mdType;
	}
}

.supports-color .color,
.supports-date .date,
.supports-month .mont,
.supports-time .time {
	display: none;
}

input,
select {
	display: inline-block;
	font-size: $mdType;
	@media (max-width: 600px) {
		font-size: $mdType;
	}
	padding: $xsSpace;
	width: 100%;
	@include defaultBorder($black);
	outline: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

button,
input {
	padding: 12px;
	font-size: $mdType;
	@media (max-width: 600px) {
		font-size: $mdType;
	}
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

[type="checkbox"],
[type="radio"] {
	margin-bottom: $halfSpace;
	width: auto;
}

input[type="email"] {
	background: $white;
	flex: 0 1 83%;
	-webkit-appearance: none;
	border-radius: 8px 0 0 8px;

	@media (max-width: 600px) {
		border-radius: 8px 8px 0px 0px;
		margin: 0;
	}

	&:active,
	&:focus {
		background: $grey;
	}

	&:hover {
		background: $grey;
	}
}

.button {
	background-color: $black;
	color: $white;
	display: inline-block;
	font-size: $mdType;
	border-radius: 0 8px 8px 0;
	font-weight: normal;
	width: auto;
	flex: 1 0 0;
	margin-left: -2px;
	@media (max-width: 600px) {
		font-size: $mdType;
		border-radius: 0px 0px 8px 8px;
		margin: 0;
	}
}

.button:active,
.button:focus,
.button:hover {
	background-color: #FFFFFF;
	border-color: $black;
	color: $black;
	cursor: pointer;
	text-decoration: none;
}
/**
 * Errors
 */
.inline-error {
	color: $red;
	margin: $xsSpace 0;
	font-size: $smType;
	@media (max-width: 600px) {
		font-size: $smType;
	}
}

#gdprText {
	font-size: $smType;
	// margin-top: $halfSpace;
	@media (max-width: 600px) {
		font-size: $smType;
	}

	a {
		outline: none;
		color: $black;

		&:active,
		&:hover {
			color: $inactiveBlack;
		}
	}
}

.mc-status {
	font-size: $smType;
	color: $red;
	margin-top: $halfSpace;
	width: 100%;

	a {
		outline: none;
		color: $black;

		&:active,
		&:hover {
			color: $inactiveBlack;
		}
	}
}

.inline-error {
	a {
		color: $red !important;
		border-bottom: 0px;
		text-decoration: underline;
	}
}

.success-message {
	color: $black;
}

@media (max-width: 600px) {
	.inline-container {
		display: flex;
		flex-direction: column;
		background: none;
		flex-wrap: wrap;
	}

	.button {
		margin-left: 0;
	}
}
